/* Import du Font : Nunito Sans */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.App {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
}

.hero-section__title {
    font-size: 3em;
}

.card-title {
    font-size: 1.5em;
}

h1, h2, h3, h4, h5, h6, strong {
    font-weight: 600;
}

li {
    list-style: none;
}