.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer-title {
    font-size: 1.3em;
    margin-bottom: 10px;
}

.social-media__list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 0;
}

.list__icon {
    font-size: 2em;
    opacity: 20%;
}

.list__icon:hover {
    opacity: 100%;
}

.footer-li__link {
    text-decoration: none;
    color: white;
}

.footer-li__link:hover {
    font-weight: 800;
}

/* ----@media---- */
@media all and (max-width : 360px) {
    .footer {
        flex-direction: column;
    }

    .social-media__list{
        padding-top: 10px;
        padding-bottom: 20px;
    }
}
/* -------- */